{{#if @labs.subscribers}}
  <section class="subscribe-widget">
    <p>Like what you see? Get new posts by email: </p>
    {{subscribe_form placeholder="Your email address"}}
  </section>
  <hr>
{{/if}}
